.trans-time{
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.center-photo{
    transform: translateX(0) scale(1);
    z-index: 1;
}

.right-photo{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

.left-photo{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}