@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.custom-white");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.primary-blue");
  border-radius: 9999px;
}
